<p><%= link_to "Back to All Questions", questions_path %></p>
<p><%= link_to "Edit this Question", edit_question_path %></p>
<p><%= link_to "Delete this Question", @question, method: :delete, data: {confirm: "Are you sure?"} %></p>

<h1><%= @question.title %></h1>

<h4>Question Description:</h4>
<p><%= markdown(@question.description) %></p>



<h4>Answer this Question:</h4>
<%= render 'answers/form', { question: @question, answer: @answer } %>
<br>

<h4>Previously Submitted Answers:</h4>
<ul style="list-style: none;">
  <% @answers.each do |answer| %>
    <li><%= markdown(answer.body) %></li>
  <% end %>
</ul>
